body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    font-size: 20px;
}

img {
    height: 50px;
    padding: 1px;
}

.dropdown {
    text-align: center;
    width: 15%;
    background-color: #bdf5f5;
    border: solid #bdf5f5;
}

.dropdown:hover .drop-content {
    display: block;
}

.drop-button {
    background-color: #bdf5f5;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.drop-content {
    text-align: center;
    font-size: 75%;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    display: block;
    padding: 10px 12px;
    text-decoration: none;
}

.drop-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;

}
.flex-main {
    display: flex;
}
.travel-logs {
    color: white;
    width:25%;
    padding: 10px 0px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    border: #006994 solid;
    background-color: #006994;
    word-wrap: break-word;
}

.travel-logs li {
    font-size: 75%;
    padding: 5px;
    margin: 7.5px;
    background-color: gold;
    border-radius: 10px;
    color: #006994;
}
.links {
    width:75%;
}
.top-table {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    background-color: white;
    border-collapse: collapse;
    font-size: 100%;
}

.logo-column {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.logo-name {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: inline-grid;
    grid-template-columns: auto auto;
}

.login-column {
    text-align: center;
    background-color: gold;
    border: solid gold;
    width: 15%;
}

.login-column:hover {
    background-color: goldenrod;
    border: solid goldenrod;
}

.no-underline {
    text-decoration: none;
    color: black;
}

.header {
    background-color: #006994;
    padding: 15px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.header span {
    padding: 10px;
}

.underline {
    text-decoration: underline;
}

.logs, .track, .info {
    padding: 7%;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 175%;
}

.logs {
    background-color: #006a94b3;
}

.logs:hover, .logs a:hover, .track:hover, .track a:hover, .info:hover, .info a:hover {
    background-color: goldenrod;
    color: gold;
}

.track {
    background-color: #006a9484;
}

.info {
    background-color: #006a944c;
}
.log-table {
    margin: auto;
    width: 90%;
}

.log-table td {
    text-align: left;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.full {
    width: 95%;
}

label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 5px 2px;
    font-size: 16px;
}

.trans {
    float: right;
}

.snd-header {
    background-color: goldenrod;
    padding: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    width: 100%;
}

.track-header, .travel-header {
    font-size: 150%;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}
.track-header h6, .travel-header h6 {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.width-half {
    width: 40%;
}
.width-third {
    width: 20%;
}

.track-form {
    width: fit-content;
    margin-left: 5%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.green {
    background-color: rgba(71, 205, 71, 0.596);
}
.gold {
    background-color: rgba(255, 217, 0, 0.653);
}
.red {
    background-color: rgba(255, 0, 0, 0.42);
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.log-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.card h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
}
.chart {
    height: 200px;
    background: #e9ecef;
    border-radius: 10px;
    border: solid goldenrod;
}
.transactions {
    margin-top: 20px;
}
.transactions ul, .travel-logs ul {
    list-style: none;
    padding: 0;
    margin: 5px;
}
.transactions li {
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px dotted #006994;
}
.transactions li:last-child {
    border-bottom: none;
}

button {
    background-color: #006994;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%
}

.logout {
    border: none;
    background: none;
    color: #006994;
    font-weight: 500;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

.flex-trans {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex-trans .trans-content {
    margin-top: 15px;
    padding: 2px 10px;
    text-align: left;
    border-bottom: 1px dotted #006994;
    font-size: 16px;
}
.trans-table {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}
.trans-table td {
    font-size: 16px;
    border-bottom: 1px dotted #006994;
    padding: 2px;
}
.flex-button {
    display: flex;
}
.flex-button form {
    padding: 0px 3px;
}
.log-buttons {
    padding: 0px;
    width: fit-content;
    background-color: white;
}
.log-buttons img {
    width: 20px;
    height: auto;
}
.trans-header {
    background-color: gold;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.trans-form {
    background-color: gold;
    padding: 10px 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    width: 30%;
}

.trans-form select, .track-form select {
    margin: 2px;
    padding: 2px;
    background-color: #006994;
    border: solid #006994;
    width: 75px;
    height: fit-content;
    text-align: center;
    color: gold;
}
.trans-form button, .track-form button {
    background-color: gold;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 0;
    line-height: 0;
    border: solid #006994 1.5px;
}
.trans-form img, .track-form img {
    width: 25px;
    height: auto;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.travel {
    text-align: right;
    width: 87%;
    margin: 5px auto 15px auto;
}

.right {
    text-align: right;
    width: 10%;
}

.open-button {
    background-color: #006994;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: fit-content;
  }

.travel-popup {
    display: none;
  }
  
.travel-container {
    width: fit-content;
    padding: 10px;
    background-color: white;
    float: right;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.travel-button {
    background-color: #008a94;
    opacity: 0.8;
}
.close-button {
    background-color: rgba(255, 0, 0, 0.605);
}
.view, .delete {
    width: fit-content;
    float: right;
    padding: 5px;
}
.view button {
    background-color: goldenrod;
    color: #006994;
    font-weight: bold;
}
.delete button {
    background-color: red;
    color: white;
    font-weight: bolder;
}
.error {
    font-size:  12px;
    color: red;
}
