body {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    background-color: #006994;
}

/* style for top row */
img {
    height: 50px;
    padding: 1px;
}

.top-table {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    background-color: white;
    border-collapse: collapse;
    font-size: 100%;
}

.logo-column {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.logo-name {
    font-weight: bold;
    display: inline-grid;
    grid-template-columns: auto auto;
}

.login-column {
    text-align: center;
    background-color: gold;
    border: solid gold;
    width: 10%;
}
.login-column:hover {
    background-color: goldenrod;
    border: solid goldenrod;
}
.login-div, .signup-div {
    font-size: 20px;
}

.signup-column {
    text-align: center;
    background-color: #bdf5f5;
    border: solid #bdf5f5;
    width: 10%;
}
.signup-column:hover {
    background-color: #93c7c7;
    border: solid #93c7c7;
}

.no-underline {
    text-decoration: none;
    color: #006994;
}

/* style for main message */
.main-body img{
    width: 100%;
    height: auto;
    padding: 0;
}

.img-container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    
}

.img-container img {
    width: 32%;
    height: auto;
    border: solid #006994 2px;
    padding: 0px;
    border-radius: 5%;
}



