<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/loginstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Delete Account</title>
</head>
<body>

    <div class="tables">
        <table class="top-table">
            <tr>
                <td class="logo-column">
                    <a href="/home"><img src="/image/new_logo.png"></a>
                </td>
                <td class="logo-name">
                    BudgetBliss
                </td>
            </tr>
        </table>

        <h3>Please enter your <span class="underline">Log ID</span> & <span class="underline">Password</span></h3>
    
        <form method="POST" data-th-action="@{/{id}/delete(id=${id})}">
            <table class="login-table">
                <tr>
                    <td class="input-label">Log ID: </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="logId" required>
                    </td>
                </tr>
                <tr>
                    <td class="input-label">Password: </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="password" required>
                    </td>
                </tr>
                <tr data-th-each="err:${error}">
                    <td class="error" data-th-text="${err.defaultMessage}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Delete Log</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    
    
</body>
</html>