<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/appstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Edit</title>
</head>
<body data-th-object="${user}">

    <table class="top-table">
        <tr>
            <td class="logo-column">
                <a href="/home"><img src="/image/new_logo.png"></a>
            </td>
            <td class="logo-name">
                BudgetBliss
            </td>
            <td class="dropdown">
                <div class="drop-button"><span data-th-text="${userId}"></span></div>
                <div class="drop-content">
                    <a data-th-href="@{/{id}/changedetails(id=${userId})}">Change User Details</a>
                    <a data-th-href="@{/{id}/delete(id=${userId})}">Delete account</a>
                </div>
            </td>
            <td class="login-column">
                <form method="POST" action="/logout">
                    <div>
                        <button class="logout" type="submit">Logout</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <div class="header">
        <span>EDIT</span>
    </div>

    <div class="log-container">
        <form method="POST" action="/edit" class="log-form">
            <table class="log-table">
                <tr>
                    <td>    
                        <label for="cashflow">Cashflow</label>
                        <select id="cashflow" name="cashflow">
                            <option value="in">IN</option>
                            <option value="out">OUT</option>
                        </select>
                    </td>
                    <td>
                        <label for="currency">Currency</label>
                        <select id="currency" name="currency">
                            <option data-th-each="curr: ${currList}" data-th-text="${curr}" data-th-value="${curr}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="date">Date</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="full" id="date" type="date" name="date" max="" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="transtype">Category</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="full" type="text" id="transtype" name="transtype" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="amt">Amount</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="full" type="number" id="amt" min="1" name="amt" step="0.01" required>
                    </td>
                </tr>
                <input type="hidden" name="transId" data-th-value="${transId}">
                <input type="hidden" name="index" data-th-value="${index}">
                <tr>
                    <td colspan="2">
                        <button type="reset">CLEAR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">EDIT</button>
                    </td>
                </tr>
            </table>
        </form>


    <script src="/script.js"></script>
    
</body>
</html>