<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="image/new_logo.png">
    <title>BudgetBliss</title>
</head>
<body>

    <table class="top-table">
        <tr>
            <td class="logo-column">
                <a href="/home"><img src="/image/new_logo.png"></a>
            </td>
            <td class="logo-name">
                BudgetBliss
            </td>
            <td class="login-column">
                <div class="login-div">
                    <a class="no-underline" href="/login">Login</a>
                </div>
            </td>
        </tr>
    </table>

    <div class="main-msg">
        <h1>Manage your money,</h1>
        <h1>Embrace the moments</h1>
    </div>
    <div class="img-container">
        <img src="image/logs.png">
        <img src="image/track.png">
        <img src="image/logs.png">
    </div>

    <table class="bottom-table">
        <tr>
            <td><a class="no-underline" href="/logs">Logs</a></td>
            <td><a class="no-underline" href="/charts">Charts</a></td>
            <td><a class="no-underline" href="/info">Information</a></td>
        </tr>
    </table>

    
    
</body>
</html>