<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="image/new_logo.png">
    <title>BudgetBliss</title>
</head>
<body>

    <table class="top-table">
        <tr>
            <td class="logo-column">
                <a href="/home"><img src="/image/new_logo.png"></a>
            </td>
            <td class="logo-name">
                BudgetBliss
            </td>
            <td class="signup-column">
                <div class="signup-div">
                    <a class="no-underline" href="/signup">Sign Up</a>
                </div>
            </td>
            <td class="login-column">
                <div class="login-div">
                    <a class="no-underline" href="/login">Login</a>
                </div>
            </td>
        </tr>
    </table>

    <div class="main-body">
        <img src="/image/budgetbliss_bg.png">
        <div class="img-container">
            <img src="/gif/budgetbliss_logs.gif">
            <img src="/gif/budgetbliss_charts.gif">
            <img src="/gif/budgetbliss_profile.gif">
        </div>
    </div>
    
</body>
</html>