<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/appstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Logs</title>
</head>
<body data-th-object="${user}">

    <table class="top-table">
        <tr>
            <td class="logo-column"><img src="/image/new_logo.png"></td>
            <td class="logo-name">
                BudgetBliss
            </td>
            <td class="dropdown">
                <div class="drop-button"><span data-th-text="*{userId}"></span></div>
                <div class="drop-content">
                    <a data-th-href="@{/{id}/changedetails(id=*{userId})}">Change User Details</a>
                    <a data-th-href="@{/{id}/delete(id=*{userId})}">Delete account</a>
                </div>
            </td>
            <td class="login-column">
                <form method="POST" action="/logout">
                    <div>
                        <button class="logout" type="submit">Logout</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <div class="header">
        <span>LOGS</span>
    </div>

    <form method="POST" action="/logs">
        <table class="log-form">
            <tr>
                <td>
                    <select name="cashflow">
                        <option value="in">IN</option>
                        <option value="out">OUT</option>
                    </select>
                </td>
                <td class="right">
                    Category: 
                    <input type="text" name="transtype">
                </td>
            </tr>
            <tr>
                <td>
                    <select name="currency">
                        <option data-th-each="curr: ${currList}" data-th-value="${curr}">
                            <span data-th-text="${curr}"></span>
                        </option>
                    </select>
                </td>
                <td class="right">AMT: $
                    <input type="number" min="1" name="amt">
                </td>
            </tr>
            <tr class="button-row">
                <td>
                    <button type="reset">CLEAR</button>
                </td>
                <td>
                    <button type="submit">LOG</button>
                </td>
            </tr>
        </table>
    </form>
    
    <br>

    <div class="snd-header">
        <span>TRANSACTIONS:</span>
    </div>

    <table class="transList">
        <tr data-th-each="transaction: *{transactions}">
            <td data-th-text="${transaction}"></td>
        </tr>
    </table>
</body>
</html>