<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/appstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Logs</title>
</head>
<body data-th-object="${user}">

    <table class="top-table">
        <tr>
            <td class="logo-column">
                <a href="/home"><img src="/image/new_logo.png"></a>
            </td>
            <td class="logo-name">
                BudgetBliss
            </td>
            <td class="dropdown">
                <div class="drop-button"><span data-th-text="*{userId}"></span></div>
                <div class="drop-content">
                    <a data-th-href="@{/{id}/changedetails(id=*{userId})}">Change User Details</a>
                    <a data-th-href="@{/{id}/delete(id=*{userId})}">Delete account</a>
                </div>
            </td>
            <td class="login-column">
                <form method="POST" action="/logout">
                    <div>
                        <button class="logout" type="submit">Logout</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <div class="header">
        <span>LOGS</span>
    </div>

    <div class="log-container">
        <form method="POST" action="/logs" class="log-form">
            <table class="log-table">
                <tr>
                    <td>    
                        <label for="cashflow">Cashflow</label>
                        <select name="cashflow">
                            <option value="in">IN</option>
                            <option value="out">OUT</option>
                        </select>
                    </td>
                    <td>
                        <label for="currency">Currency</label>
                        <select name="currency">
                            <option data-th-value="${defCurr}" selected>
                                <span data-th-text="${defCurr}"></span>
                            </option>
                            <option data-th-each="curr: ${currList}" data-th-value="${curr}">
                                <span data-th-text="${curr}"></span>
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="date">Date</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="full" type="date" name="date" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="transtype">Category</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="full" type="text" name="transtype">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="amt">Amount</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="full" type="number" min="1" name="amt">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="reset">CLEAR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">LOG</button>
                    </td>
                </tr>

            </table>
        </form>
        
        <br>
    
        <!-- <div class="snd-header">
            <span>TRANSACTIONS:</span>
        </div> -->
    
        <!-- <table class="transList">
            <tr>
                <td class="snd-header">
                    <span>TRANSACTIONS</span>
                </td>
            </tr>
            <tr data-th-each="transaction: *{transactions}">
                <td data-th-text="${transaction}"></td>
            </tr>
        </table> -->

        <div class="flex-trans">
            <span class="trans-header">TRANSACTIONS</span>
            <span class="trans-content" data-th-each="transaction: *{transactions}" data-th-text="${transaction}">
            </span>
            <span class="trans-content">Groceries</span>
        </div>
    </div>
    
</body>
</html>