<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/appstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Logs</title>
</head>
<body data-th-object="${user}">

    <table class="top-table">
        <tr>
            <td class="logo-column">
                <a href="/home"><img src="/image/new_logo.png"></a>
            </td>
            <td class="logo-name">
                BudgetBliss
            </td>
            <td class="dropdown">
                <div class="drop-button"><span data-th-text="*{userId}"></span></div>
                <div class="drop-content">
                    <a data-th-href="@{/{id}/changedetails(id=*{userId})}">Change User Details</a>
                    <a data-th-href="@{/{id}/delete(id=*{userId})}">Delete account</a>
                </div>
            </td>
            <td class="login-column">
                <form method="POST" action="/logout">
                    <div>
                        <button class="logout" type="submit">Logout</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <div class="header">
        <span>LOGS</span>
    </div>

    <div class="track-header">
        <h6 class="gold width-third">Balance: $<span class="underline" data-th-text="*{balance}"></span></h6>
        <h6 class="green width-third">IN: $<span class="underline" data-th-text="*{in}"></span></h6>
        <h6 class="red width-third">OUT: $<span class="underline" data-th-text="*{out}"></span></h6>
    </div>

    <div class="log-container">
        <form method="POST" action="/logs" class="log-form">
            <table class="log-table">
                <tr>
                    <td>    
                        <label for="cashflow">Cashflow</label>
                        <select id="cashflow" name="cashflow">
                            <option value="in">IN</option>
                            <option value="out">OUT</option>
                        </select>
                    </td>
                    <td>
                        <label for="currency">Currency</label>
                        <select id="currency" name="currency">
                            <option data-th-text="*{defCurr}" data-th-value="*{defCurr}" selected></option>
                            <option data-th-each="curr: ${currList}" data-th-text="${curr}" data-th-value="${curr}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="date">Date</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="full" id="date" type="date" name="date" max="" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="transtype">Category</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="full" type="text" id="transtype" name="transtype" pattern="^[^\s-]*$" title="No spaces or '-' allowed" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="amt">Amount</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="full" type="number" id="amt" min="1" name="amt" step="0.01" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="reset">CLEAR</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">LOG</button>
                    </td>
                </tr>
            </table>
        </form>

        <div class="travel">
            <button class="open-button" onclick="openForm()">Travel Log</button>
            <div class="travel-popup" id="travelForm">
                <form method="POST" data-th-action="@{/{id}/travel(id=*{userId})}">
                    <table class="travel-container">
                        <tr>
                            <td>
                                <label for="name">Name:</label> 
                                <input type="text" name="name" pattern="^[^\s]*$" title="No spaces allowed" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="destCurr">Currency of Destination:</label>
                                <select id="destCurr" name="destCurr">
                                    <option data-th-each="curr: ${currList}" data-th-text="${curr}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" class="travel-button">Proceed</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="close-button" onclick="closeForm()">Close</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="travel error" data-th-each="error:${error}" data-th-text="${error.defaultMessage}">
        </div>

        <table class="trans-table">
            <tr>
                <th class="trans-header">
                    RECORDS
                </th>
                <th class="trans-form">
                    <form method="GET" data-th-action="@{/{id}/filtered(id=*{userId})}">
                        <div class="flex-row">
                            <select name="year">
                                <option data-th-each="year:${years}" data-th-value="${year}" data-th-text="${year}"></option>
                            </select>
                            <select name="month">
                                <option data-th-each="month, status:${months}" data-th-value="${status.index}" data-th-text="${month}"></option>
                            </select>
                            <button type="submit">
                                <img src="/image/refresh.png">
                            </button>
                        </div>
                    </form>
                </th>
            </tr>
        </table>
        <table class="trans-table">
            <tr data-th-each="transaction, status:${transactions}">
                <td data-th-text="${transaction}"></td>
                <td class="right">
                    <div class="flex-button">
                        <form method="GET" data-th-action="@{/{id}/edit(id=*{userId})}">
                            <input type="hidden" name="index" data-th-value="${status.index}">
                            <button class="log-buttons" type="submit">
                                <img src="/image/edit.png">
                            </button>
                        </form>
                        <form method="POST" action="/delete-transaction">
                            <input type="hidden" name="transaction" data-th-value="${transaction}">
                            <input type="hidden" name="id" data-th-value="*{userId}">
                            <button class="log-buttons" type="submit">
                                <img src="/image/bin.png">
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
        <!-- <table class="trans-table" data-th-unless="${filtered == false}">
            <tr data-th-each="transaction, status:${transactions}">
                <td data-th-text="${transaction}"></td>
                <td class="right">
                    <div class="flex-button">
                        <form method="GET" data-th-action="@{/{id}/edit(id=*{userId})}">
                            <input type="hidden" name="index" data-th-value="${status.index}">
                            <button class="log-buttons" type="submit">
                                <img src="/image/edit.png">
                            </button>
                        </form>
                        <form method="POST" action="/delete-transaction">
                            <input type="hidden" name="index" data-th-value="${status.index}">
                            <button class="log-buttons" type="submit">
                                <img src="/image/bin.png">
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        </table> -->
    </div>
    <script src="/script.js"></script>
    
</body>
</html>