<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/appstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Home</title>
</head>
<body data-th-object="${user}">

    <table class="top-table">
        <tr>
            <td class="logo-column">
                <a href="/home"><img src="/image/new_logo.png"></a>
            </td>
            <td class="logo-name">
                BudgetBliss
            </td>
            <td class="dropdown">
                <div class="drop-button"><span data-th-text="*{userId}"></span></div>
                <div class="drop-content">
                    <a data-th-href="@{/{id}/changedetails(id=*{userId})}">Change User Details</a>
                    <a data-th-href="@{/{id}/delete(id=*{userId})}">Delete account</a>
                </div>
            </td>
            <td class="login-column">
                <form method="POST" action="/logout">
                    <div>
                        <button class="logout" type="submit">Logout</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <div class="header">
        <span>Balance: $<span class="underline" data-th-text="*{balance}"></span></span>
        <span>IN: $<span class="underline" data-th-text="*{in}"></span></span>
        <span>OUT: $<span class="underline" data-th-text="*{out}"></span></span>
    </div>

    <br>

    <div>
        <div class="logs">
            <a class="no-underline" data-th-href="@{/{userId}/logs(userId=*{userId})}"><span>LOGS</span></a>
        </div>
        <div class="track">
            <a class="no-underline" data-th-href="@{/{userId}/track(userId=*{userId})}"><span>TRACK</span></a>
        </div>
        <div class="info">
            <a class="no-underline" data-th-href="@{/{userId}/info(userId=*{userId})}"><span>INFORMATION</span></a>
        </div>
    </div>

</body>
</html>