<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/appstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Home</title>
</head>
<body data-th-object="${user}">

    <table class="top-table">
        <tr>
            <td class="logo-column">
                <a href="/home"><img src="/image/new_logo.png"></a>
            </td>
            <td class="logo-name">
                BudgetBliss
            </td>
            <td class="dropdown">
                <div class="drop-button"><span data-th-text="*{userId}"></span></div>
                <div class="drop-content">
                    <a data-th-href="@{/{id}/changedetails(id=*{userId})}">Change User Details</a>
                    <a data-th-href="@{/{id}/delete(id=*{userId})}">Delete account</a>
                </div>
            </td>
            <td class="login-column">
                <form method="POST" action="/logout">
                    <div>
                        <button class="logout" type="submit">Logout</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <div class="header">
        <span data-th-text="*{#strings.toUpperCase(userId)}"></span>
    </div>

    <br>

    <div class="flex-main">
        <div class="travel-logs">
            <span class="underline">Travel Logs</span>
            <ul>
                <li data-th-each="log:${logs}">
                    <a data-th-href="@{/{userId}/{travelId}/logs(userId=*{userId}, travelId=${log})}" data-th-text="${log}">
                    </a>
                </li>
            </ul>
        </div>
        <div class="links">
            <div class="logs">
                <a class="no-underline" data-th-href="@{/{userId}/logs(userId=*{userId})}"><span>LOGS</span></a>
            </div>
            <div class="track">
                <a class="no-underline" data-th-href="@{/{userId}/charts(userId=*{userId})}"><span>CHARTS</span></a>
            </div>
            <div class="profile">
                <a class="no-underline" data-th-href="@{/{userId}/profile(userId=*{userId})}"><span>PROFILE</span></a>
            </div>
        </div>
    </div>
    

</body>
</html>