<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/loginstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Cannot access</title>
</head>
<body>

    <div class="tables">
        <table class="top-table">
            <tr>
                <td class="logo-column"><img src="../static/image/new_logo.png"></td>
                <td class="logo-name">
                    BudgetBliss
                </td>
            </tr>
        </table>
    
        <br>
        <div class="red">User not logged in</div>
        <br>
        <div class="red">Unable to access user data</div>
        <br>

        <div class="home-dir">
            <a href="/">Home</a>
        </div>
        <br>
    </div>
    
    
</body>
</html>