<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/appstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Information</title>
</head>
<body data-th-object="${user}">

    <table class="top-table">
        <tr>
            <td class="logo-column">
                <a href="/home"><img src="/image/new_logo.png"></a>
            </td>
            <td class="logo-name">
                BudgetBliss
            </td>
            <td class="dropdown">
                <div class="drop-button"><span data-th-text="*{userId}"></span></div>
                <div class="drop-content">
                    <a data-th-href="@{/{id}/changedetails(id=*{userId})}">Change User Details</a>
                    <a data-th-href="@{/{id}/delete(id=*{userId})}">Delete account</a>
                </div>
            </td>
            <td class="login-column">
                <form method="POST" action="/logout">
                    <div>
                        <button class="logout" type="submit">Logout</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <br>

    <div class="header">
        <span>User Profile</span>
    </div>

    <div class="log-container" data-th-each="logDetail:${logDetails}" data-th-object="${logDetail}">
        <div data-th-text="*{logName}"></div>
        <div class="track-header">
            <h6 class="gold width-third">Balance: $<span class="underline" data-th-text="*{balance}"></span></h6>
            <h6 class="green width-third">IN: $<span class="underline" data-th-text="*{in}"></span></h6>
            <h6 class="red width-third">OUT: $<span class="underline" data-th-text="*{out}"></span></h6>
        </div>
        <div class="grid">
            <div class="card">
                <h2>TRENDS</h2>
                <img class="chart" data-th-src="*{trendUrl}">
            </div>
            <div class="card">
                <h2>SPENDING CATEGORIES</h2>
                <img class="chart" data-th-src="*{categoryUrl}">
            </div>
        </div>
    </div>
    


</body>
</html>
