<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/loginstyle.css">
    <link rel="icon" type="image/x-icon" href="/image/new_logo.png">
    <title>Sign Up</title>
</head>
<body>

    <div class="tables">
        <table class="top-table">
            <tr>
                <td class="logo-column"><img src="/image/new_logo.png"></td>
                <td class="logo-name">
                    BudgetBliss
                </td>
            </tr>
        </table>
    
        <form method="POST" action="/signup/home" data-th-object="${user}">
            <table class="login-table">
                <tr>
                    <td class="input-label">User ID: </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="userId" data-th-field="*{userId}" required>
                        <div data-th-if="${#fields.hasErrors('userId')}"
                            data-th-errors="*{userId}" data-th-errorclass="error">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="input-label">Password: </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="password" data-th-field="*{password}"  required>
                    </td>
                </tr>
                <tr>
                    <td class="input-label">Confirm Password: </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="confirmPassword" data-th-field="*{confirmPassword}" required>
                        <div data-th-if="${#fields.hasErrors('confirmPassword')}"
                            data-th-errors="*{confirmPassword}" data-th-errorclass="error">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Sign up</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            <span>Existing user? <a href="/login">Login</a></span>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    
    
</body>
</html>